// ******************************
// OPEN SANS - Main Font
// ******************************
@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Regular.woff');
  src: url('../assets/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../assets/fonts/OpenSans-Light.woff');
  src: url('../assets/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('../assets/fonts/OpenSans-SemiBold.woff');
  src: url('../assets/fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/OpenSans-Bold.woff');
  src: url('../assets/fonts/OpenSans-Bold.woff') format('woff');
}


// ******************************
// BEBAS NEUE - Logo Font
// ******************************
@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue-Regular.woff');
  src: url('../assets/fonts/BebasNeue-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BebasNeue-Light';
  src: url('../assets/fonts/BebasNeue-Light.woff');
  src: url('../assets/fonts/BebasNeue-Light.woff') format('woff');
}

@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../assets/fonts/BebasNeue-Bold.woff');
  src: url('../assets/fonts/BebasNeue-Bold.woff') format('woff');
}
